<div class="gray posttitle"><h2><%= "DojoForum" %></h2></div>
<div class="col-md-12">
  <table class="table">
    <% @categories.each do |category| %>       
     <tr>
      <td><%= category.name %></td>
      <td><%= link_to 'Edit', admin_category_path(category) %></td>
      <td><%= link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="col-md-10">
  <%= form_for [:admin, @category] do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name , class: "form-control" %>
    </div>
    <div class="form-group"><%= f.submit %></div>
  <% end %>
</div>
<br><br>
<div class="col-md-12">
  <% @users.each do |user| %>
    <div class="col-md-2 well user_frame">
      <%= user.name %>
      <% if user.role != "admin" %>
        <span class="cate_tag pull-right"><%= link_to "Admin", enadmin_admin_user_path(user), method: :post %></span>
      <% else %>
        <span class="cate_tag pull-right"><%= link_to "Unadmin", unadmin_admin_user_path(user), method: :post %></span>
      <% end %><hr>
      <% if !user.intro.nil? %><div><%= user.intro.truncate(100) %></div><br><% end %>
    </div>
  <% end %>
</div>