 <div class="col-md-12"> 
  <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title , class: "form-control" %>
    </div>
    <div class="form-group">
      <label>簡介：</label>
      <%= f.text_area :description, :maxlength => 250, :cols => "10", :rows => "5", class: "form-control" %>
    </div>
    <div class="form-group">    
        <%= image_tag @post.image, width: "150px"  if @post.image %>
        <%= f.file_field :image, class: "form-control" %>
    </div>

      <div class="form-group">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
      </div>

    <div class="form-group">
        <%= f.label :draft %>
         <%= f.check_box :draft, label: false, as: :boolean %>
        <span></span>
    </div>

    <div class="form-group">
        <label>文章權限：</label>
        <%= f.select :access_right, access_right_select, {}, prompt: '文章權限' %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
