  <% @posts.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-body">              
          <div>            
            <div class="col-sm-4 col-md-4 pull-right">
              <h4><%= "post title" %><em><%= post.created_at %> </em>
              </h4>  
              <p><%= simple_format post.description %></p>
              <p class="text-muted">
                <em><%= time_ago_in_words(post.created_at) + " ago - "   %> </em>
              </p>
            </div>
          </div>                            
        </div>      
      </div>
  <% end %>

  <%= paginate @posts %>