<table class="table table-bordered">
  <div class="gray posttitle"><%= @post.title %></div>
      <tr>
          <td><div><%= image_tag @post.user.avatar, alt: @post.user.name, width: 200, height: 150 %></div><span><%= @post.user.name %></span></td>
          <td><%= @post.description %><br>
            <% if @post.image? %><%= image_tag @post.image, width: 200, height: 150 %><% end %></td>  
          <td><%= link_to 'Edit', root_path %></td>
          <td><%= link_to 'Destroy', root_path, method: :delete, data:{ confirm: "Are you sure?" } %> 
      </tr>

    <!-- 顯示與問題相關的回答 -->
  <tbody>
    <% @replies.each do |reply| %>
        <tr>
          <td class="gray"><%= image_tag reply.user.avatar, alt: reply.user.name, width: 200, height: 150 %></div><span><%= reply.user.name %></td>
          <td class="gray"><%= reply.comment %></td>
          <td class="gray"><%= link_to 'Edit', root_path %></td>
          <td class="gray"><%= link_to 'Destroy', root_path, method: :delete, data:{ confirm: "Are you sure?" } %></td>
        </tr>
  </tbody>
<!-- 下面if end間為註解 -->

    <% end %>
</table>
<div class="col-md-5"><%= paginate @replies %></div>

<div class="col-md-10">
      <%= form_for @reply, url: reply_post_path, :html => { class: 'reply' } do |f| %>
        <div class="form-group">
              <%= f.text_area :comment, placeholder: "What's on your mind", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>          
        </div>
      <% end %>
</div>

      <div class="p-3 mb-2 bg-info text-white"><%= flash[:notice] %></div>
      <div class="p-3 mb-2 bg-danger text-white"><%= flash[:alert] %></div> 